---
http_interactions:
- request:
    method: get
    uri: http://api.legiscan.com/?key=2577f3697e3597ca2363909f55f143c8&op=getSessionList&state=CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Pad:
      - avoid browser bug
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","sessions":[{"session_id":1077,"name":"2014 Regular
        Session"},{"session_id":994,"name":"2013 Regular Session"},{"session_id":925,"name":"2012
        Regular Session"},{"session_id":111,"name":"2011 Regular Session"},{"session_id":68,"name":"2010
        Regular Session"}]}'
  recorded_at: Thu, 10 Jul 2014 14:11:37 GMT
- request:
    method: get
    uri: http://api.legiscan.com/?id=994&key=<LEGISCAN>&op=getMasterList
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","masterlist":{"session":{"session_id":994,"session_name":"2013
        Regular Session"},"0":{"bill_id":447214,"number":"HB1001","change_hash":"9a6e7a19d7c85b85d5ac8bb7c6ac19c6","url":"http:\/\/legiscan.com\/CO\/bill\/HB1001\/2013","status_date":"2013-05-15","status":"4","last_action_date":"2013-05-15","last_action":"Governor
        Action - Signed","title":"Advanced Industries Acceleration Act","description":"Advanced
        Industries Acceleration Act"},"1":{"bill_id":447208,"number":"HB1002","change_hash":"ea898505de04809860062e07ade8d361","url":"http:\/\/legiscan.com\/CO\/bill\/HB1002\/2013","status_date":"2013-05-10","status":"4","last_action_date":"2013-05-10","last_action":"Governor
        Action - Signed","title":"Small Business Development Centers Appropriations","description":"Small
        Business Development Centers Appropriations"},"2":{"bill_id":447203,"number":"HB1003","change_hash"[...]
- request:
    method: get
    uri: http://api.legiscan.com/?id=542128&key=<LEGISCAN>&op=getBill
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","bill":{"bill_id":542128,"change_hash":"91931d9c879c6ce5619af90e6a124633","session":{"session_id":994,"session_name":"2013
        Regular Session"},"url":"http:\/\/legiscan.com\/CO\/bill\/SB252\/2013","state_link":"http:\/\/www.leg.state.co.us\/clics\/clics2013a\/csl.nsf\/fsbillcont2\/D1B329AEB8681D4D87257B3900716761?Open","completed":1,"status":4,"status_date":"2013-06-05","progress":[{"date":"2013-04-03","event":1},{"date":"2013-04-03","event":9},{"date":"2013-04-08","event":10},{"date":"2013-04-08","event":9},{"date":"2013-04-19","event":2},{"date":"2013-04-19","event":9},{"date":"2013-04-24","event":10},{"date":"2013-04-24","event":9},{"date":"2013-05-10","event":3},{"date":"2013-06-05","event":4}],"state":"CO","state_id":6,"bill_number":"SB252","bill_type":"B","body":"S","body_id":22,"current_body":"S","current_body_id":22,"title":"Renewable
        Energy Standard Retail Wholesale Methane","description":"Renewable Energy
        Standard Retail Wholesale Methane","committee":[],"history":[{"date":"2013-04-03","action":"Introduced
        In Senate - Assigned to State, Veterans, & Military Affairs","chamber":"S","chamber_id":22,"importance":1},{"date":"2013-04-08","action":"Senate
        Committee on State, Veterans, & Military Affairs Refer Amended to Senate Committee
        of the Whole","chamber":"S","chamber_id":22,"importance":1},{"date":"2013-04-11","action":"Senate
        Second Reading Laid Over Daily","chamber":"S","chamber_id":22,"importance":0},{"date":"2013-04-12","action":"Senate
        Second Reading Passed with Amendments","chamber":"S","chamber_id":22,"importance":0},{"date":"2013-04-15","action":"Senate
       [...]
