html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  font-family: 'Righteous', cursive;
  text-align: center;
}

.logo {
  text-align: center;
  margin-top: .5em;
  font-family: 'Righteous', cursive;
  font-size: 4em;
}

.intro {
  font-size: 1.5em;
  margin-left: 1.5em;
}

.bill_search {
  margin-left: 2em;
}

.results_container {
  margin-left: 3em;
  width: 85%
}